
# Reordering
menu  "MPDCCP advanced reordering control"

endmenu

# The following doesn't work, yet - tbd.
#choice
#	prompt "Default MPDCCP Reordering Engine"
#	default DEFAULT
#	help
#	  Select the Reordering Engine of your choice
#
#	config DEFAULT_REORDER_DEFAULT
#		bool "Default (Passive)"
#		---help---
#		  This is the default reordering engine.
#
#endchoice

config DEFAULT_MPDCCP_REORDER
	string
	depends on IP_MPDCCP
	default "default"


