
# Reordering
menu  "MPDCCP non-gpl advanced reordering control"

config MPDCCP_REORDER_ACTIVE
	tristate "MPDCCP Adaptive Reordering"
	depends on IP_MPDCCP
	help
	  This is an advanced reordering engine. It features means of
	  reordering by introducing a reordering buffer. End-to-end delay
	  increases due to the process of reordering.

endmenu

# The following doesn't work, yet - tbd.
#choice
#	prompt "Default MPDCCP Reordering Engine"
#	default DEFAULT
#	help
#	  Select the Reordering Engine of your choice
#
#	config DEFAULT_REORDER_ADAPTIVE
#		bool "Adaptive Reordering"
#		depends on MPDCCP_REORDER_ADAPTIVE
#
#	config DEFAULT_REORDER_DEQUAL
#		bool "Delay Equalization Reordering"
#		depends on MPDCCP_REORDER_DEQUAL
#
#	config DEFAULT_REORDER_DEFAULT
#		bool "Default (Passive)"
#		---help---
#		  This is the default reordering engine.
#
#endchoice



