
menu "MPDCCP non-gpl scheduler selection"


config MPDCCP_SCHED_CPF
	tristate "MPDCCP Cheapest Path First"
	depends on IP_MPDCCP
	---help---
	  A priorisation scheduler.

config MPDCCP_SCHED_HANDOVER
	tristate "MPDCCP HANDOVER"
	depends on IP_MPDCCP
	---help---
	  An HANDOVER Scheduler. It works like CPF scheduler without aggregation.

endmenu
