
menu "MPDCCP scheduler selection"


config MPDCCP_SCHED_SRTT
	tristate "MPDCCP Smoothed RTT"
	depends on IP_MPDCCP
	help
	  A SRTT (Smoothed Round-Trip Time) based scheduler. It will send on the flow 
	  that has the lowest SRTT and is available (i.e., free Congestion Window).

config MPDCCP_SCHED_ROUNDROBIN
	tristate "MPDCCP Round-Robin"
	depends on IP_MPDCCP
	help
	  This is a very simple round-robin scheduler. Probably has bad performance
	  but might be interesting for researchers.

config MPDCCP_SCHED_REDUNDANT
	tristate "MPDCCP Redundant"
	depends on IP_MPDCCP
	help
	  This is a redundant scheduler for latency reduction and higher reliability.
	  Each packet is sent on all available flows.


config MPDCCP_SCHED_OTIAS
	tristate "MPDCCP OTIAS"
	depends on IP_MPDCCP
	help
	  An OTIAS Scheduler. It tries to estimate link latencies and schedules 
	  packets accordingly so that packets arrive in order.

endmenu

if IP_MPDCCP

# The following doesn't work yet - tbd.
#choice
#	prompt "Default MPDCCP Scheduler"
#	default DEFAULT
#	help
#	  Select the prefered default scheduler
#
#	config DEFAULT_SCHED_SRTT
#		bool "Smoothed RTT" if MPDCCP_SCHED_SRTT
#		---help---
#		  This is the SRTT-based scheduler, tries to use the flow with
#		  the lowest SRTT.
#
#	config DEFAULT_SCHED_ROUNDROBIN
#		bool "Round-Robin" if MPDCCP_SCHED_ROUNDROBIN
#		---help---
#		  This is the round-robin scheduler, alternating between flows.
#
#	config DEFAULT_SCHED_REDUNDANT
#		bool "Redundant" if MPDCCP_SCHED_REDUNDANT
#		---help---
#		  This is the redundant scheduler, which sends each packet on
#		  all flows.
#
#	config DEFAULT_SCHED_OTIAS
#		bool "OTIAS" if MPDCCP_SCHED_OTIAS
#		---help---
#		  This is the OTIAS scheduler, it tries to avoid
#	  	  the need for a reordering entity.
#
#endchoice

config DEFAULT_MPDCCP_SCHED
	string
	depends on IP_MPDCCP
#	default "rr" if DEFAULT_SCHED_ROUNDROBIN
#	default "redundant" if DEFAULT_SCHED_REDUNDANT
#	default "srtt" if DEFAULT_SCHED_SRTT
#	default "ratio" if DEFAULT_SCHED_RATIO
#	default "otias" if DEFAULT_SCHED_OTIAS
#	default "cpf" if DEFAULT_SCHED_CPF
#	default "handover" if DEFAULT_SCHED_HANDOVER
	default "default"

endif # IP_MPDCCP
